<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <table class="table">
      <tr>
        <th>Имя</th>
        <th>Отчество</th>
        <th>Фамилия</th>
        <th>Продукт</th>
        <th>Количество</th>
        <th>ОК</th>
        <th>Удалить</th>
      </tr>
      <% @all_order.each do |order| %>
          <% if order.check == 1 %>
              <tr bgcolor="#7cfc00">
          <% else %>
              <tr>
          <% end %>
          <td><%= order.name %></td>
          <td><%= order.middle %></td>
          <td><%= order.surname %></td>
          <td><%= order.product %></td>
          <td><%= order.count %></td>
          <td><%= link_to 'ОК', '/order/do_check/'+ order.id.to_s %></td>
          <td><%= link_to 'Удалить', order_path(order), method: :delete %></td>
          </tr>
      <% end %>
    </table>
    <p><%= link_to 'Удалить все', order_delete_all_path, method: :delete %> </p>
  </div>
</div>